<div class="tui-pagination-parent ">
  <div id="tui-pagination-container" class="tui-pagination"></div>
</div>

<footer class="footer">
  <div class="container footer-container">
    <p class="footer-item">
      &copy;<span class="footer-item-span">2020</span
      ><span class="footer-item-span">All Rights Reserved</span>
    </p>
    <p class="footer-item-text footer-item">
      Developed with
      <svg class="footer-icon" width="14" height="13">
        <use class="footer-icon" href="./images/footer/symbol-defs.svg#icon-Group-10">></use>
      </svg>
      <span class="footer-item-space">by</span>
      <a class="footer-link" href="">GoIT Students</a>
    </p>
  </div>
</footer>
