  
<div class="header">
    <div class="container header__container">
      <div class="header__menu">
        <a class="link logo header__logo" href="#">
          <svg width="24" height="24" class="logo__icon">
            <use href="./images/sprite.svg#film"></use>
          </svg>
          <span class="logo__text">Filmoteka</span>
        </a>
        <nav class="navigation">
          <ul class="list navigation__list">
            <li class="navigation__item">
              <a class="link navigation__link navigation__link--active" href="#">Home</a>
            </li>
            <li class="navigation__item">
              <a class="link navigation__link" href="#">My Library</a>
            </li>
          </ul>
        </nav>
      </div>
  
        <!-- libary -->
      <div class="header-buttons-container">
        <button class="header-button-wached">Watched</button>
        <button class="header-button-queue">queue</button>
    </div>
  </div>
  </div>
  