<div class='backdrop js-backdrop'>
  <div class='modal'>
    <div class="modal-header">
      <button class='modal__close-btn' type='button' data-action="close-modal">
        <svg width="25" height="25">
          <use class="nav__menu" href="./images/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-wrapper">
    </div>
    <div class='modal__add-btns modal-footer'>
<!--            <button class='modal__btn js-watched' type='button'>add to Watched</button>-->
<!--            <button class='modal__btn js-queue' type='button'>add to queue</button>-->
<!--      {{!&#45;&#45; <button class='modal__btn js-queue' type='button'>remove from queue</button> &#45;&#45;}}-->
    </div>
  </div>
</div>