<!--
      Модальное окно
      Для того чтобы открыть, необходимо добавить на div.lightbox CSS-класс is-open
    -->
<div class="lightbox js-lightbox">
  <div class="lightbox__overlay"></div>
  <div class="lightbox__content">
    <!-- <img class="lightbox__image" src="./images/Team_photo.jpg" alt="" width="" heigth="" /> -->
    <h1 class="member__title">"OUR TEAM"</h1>
    <ul class="member__list">
      <li class="member__item">
        <img class="lightbox__image" src="./images/Maksim.JPG" alt="" width="" heigth="" />
        <ul class="member__item-discr">
          <p class="member__item-name"><b>Островский Максим</b></p>
          <p class="member__item-position">Team Lead</p>
        </ul>
      </li>
      <li class="member__item">
        <img class="lightbox__image" src="./images/Anna.JPG" alt="" width="" heigth="" />
        <ul class="member__item-discr">
        <p class="member__item-name"><b>Андрийчук Анна</b></p>
        <p class="member__item-position">Scrum Master</p>
        </ul>
      </li>
      <li class="member__item">
        <img class="lightbox__image" src="./images/Roma.JPG" alt="" width="" heigth="" />
        <ul class="member__item-discr">
        <p class="member__item-name"><b></b>Зеньо Роман</p>
        <p class="member__item-position">Developer</p>
        </ul>
      </li>
      <li class="member__item">
        <img class="lightbox__image" src="./images/Igor.JPG" alt="" width="" heigth="" />
        <ul class="member__item-discr">
        <p class="member__item-name"><b>Суковский Игорь</b></p>
        <p class="member__item-position">Developer</p>
            </ul>
        <li class="member__item">
            <img class="lightbox__image" src="./images/Natalia.JPG" alt="" width="" heigth="" />
            <ul class="member__item-discr">
            <p class="member__item-name"><b>Горянина Наталия</b></p>
            <p class="member__item-position">Developer</p>
            </ul>
        </li>
        <li class="member__item">
            <img class="lightbox__image" src="./images/Sergey.JPG" alt="" width="" heigth="" />
            <ul class="member__item-discr">
            <p class="member__item-name"><b>Тищенко Сергей</b></p>
            <p class="member__item-position">Developer</p>
            </ul>
          </li>
        </p>
      </li>
    </ul>
  </div>
  <button type="button" class="lightbox__button" data-action="close-lightbox"></button>
</div>
