body {
  font: 500 16px/1.7 'Roboto ', Sans-Serif;
  color: #000;
  background-color: #fff;
}

.main-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.add-film {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 42px;
}